---
layout: page
# The Category layout
---

{% include lang.html %}

<div id="page-category">
  <h1 class="ps-lg-2">
    <i class="far fa-folder-open fa-fw text-muted"></i>
    {{ page.title }}
    <span class="lead text-muted ps-2">
      {%- assign count = 0 -%}
      {%- assign all_projects = site.projects | concat: site.sub_projects -%}
      {%- for project in all_projects -%}
        {%- if project.categories contains page.category -%}
          {%- assign count = count | plus: 1 -%}
        {%- endif -%}
      {%- endfor -%}
      {{ count }}
    </span>
  </h1>

  <ul class="content ps-0">
    {%- assign all_projects = site.projects | concat: site.sub_projects -%}
    {%- for project in all_projects -%}
      {%- if project.categories contains page.category -%}
        <li class="d-flex justify-content-between px-md-3">
          <a href="{{ project.url | relative_url }}">{{ project.title }}</a>
          <span class="dash flex-grow-1"></span>
          {% include datetime.html date=project.date class='text-muted small text-nowrap' lang=lang %}
        </li>
      {%- endif -%}
    {%- endfor -%}
  </ul>
</div>